Repository technoph1le/quicksnip, pull requests merged in 2025-01, with the labels that each got.

#98 Added some C# snippets
  snippets/csharp/icon.svg
  snippets/csharp/list-utilities/swap-items-at-index.md
  snippets/csharp/string-utilities/truncate-string.md
Labels: update needed

#78 Feature : added some smooth framer animation
  package-lock.json
  package.json
  src/components/SnippetList.tsx
  src/components/SnippetModal.tsx
Labels: enhancement, update needed

#153 Make scrollbar gutter stable
  src/styles/main.css
Labels: bug

#170 [Snippet] Added code snippet for Greatest Common Divisor in JS
  public/consolidated/javascript.json
  snippets/javascript/mathematical-functions/greatest-common-divisor.md
Labels: mergeable, Snippets

#139 Add Ruby Language
  public/consolidated/_index.json
  public/consolidated/c.json
  public/consolidated/ruby.json
  public/icons/ruby.svg
  snippets/ruby/array-manipulation/binary-search.md
  snippets/ruby/array-manipulation/chunk-array.md
  snippets/ruby/array-manipulation/matrix-transpose.md
  snippets/ruby/basics/hello-world.md
  snippets/ruby/error-handling/custom-error-class.md
  snippets/ruby/icon.svg
  snippets/ruby/math-and-numbers/calculate-compound-interest.md
  snippets/ruby/math-and-numbers/calculate-factorial.md
  snippets/ruby/math-and-numbers/check-prime-number.md
  snippets/ruby/math-and-numbers/find-all-primes-up-to-integer-sieve-of-sundaram.md
  snippets/ruby/string-manipulation/capitalize-words.md
  snippets/ruby/string-manipulation/count-word-occurrences-in-string.md
  snippets/ruby/string-manipulation/remove-punctuation.md
  snippets/ruby/string-manipulation/transform-camel-case-to-snake-case.md
  snippets/ruby/string-manipulation/transform-from-snake-case-to-camel-case.md
  snippets/ruby/string-manipulation/transform-from-snake-case-to-pascal-case.md
  snippets/ruby/string-manipulation/truncate-string.md
Labels: Snippets

#174 enhancement: Smoothed modal animation + reduced motion
  package-lock.json
  package.json
  src/components/SnippetList.tsx
  src/components/SnippetModal.tsx
Labels: enhancement

#158 Adding support for sub languages on the "backend"
  public/consolidated/_index.json
  public/consolidated/c.json
  public/consolidated/cpp.json
  public/consolidated/csharp.json
  public/consolidated/css.json
  public/consolidated/haskell.json
  public/consolidated/html.json
  public/consolidated/java.json
  public/consolidated/javascript.json
  public/consolidated/python.json
  public/consolidated/regex.json
  public/consolidated/ruby.json
  public/consolidated/rust.json
  public/consolidated/scss.json
  public/consolidated/typescript.json
  src/components/LanguageSelector.tsx
  src/components/SnippetList.tsx
  src/contexts/AppContext.tsx
  src/hooks/useCategories.ts
  src/hooks/useSnippets.ts
  src/types/index.ts
  utils/consolidateSnippets.js
  utils/snippetParser.js
Labels: enhancement

#178 [Snippet] SASS function to convert px to rem
  public/consolidated/cpp.json
  public/consolidated/scss.json
  snippets/cpp/debuging/vector-print.md
  snippets/scss/typography/px-to-rem-helper.md
Labels: Snippets, Guidelines Issue

#149 [Feature - CSS] Feature/css animations
  snippets/css/animations/blink-animation.md
  snippets/css/animations/pulse-animation.md
  snippets/css/animations/shake-animation.md
  snippets/css/animations/slide-in-animation.md
  snippets/css/animations/typewriter-animation.md
Labels: Snippets

#103 Snippets c++
  public/consolidated/cpp.json
  public/consolidated/javascript.json
  snippets/cpp/array-manipulation/filter-vector.md
  snippets/cpp/array-manipulation/transform-vector.md
  snippets/cpp/file-handling/find-files-recursively.md
  snippets/cpp/file-handling/find-files.md
  snippets/cpp/file-handling/list-directories.md
  snippets/cpp/string-manipulation/filter.md
  snippets/cpp/string-manipulation/palindrome.md
  snippets/cpp/string-manipulation/reverse-string.md
  snippets/cpp/string-manipulation/transform.md
Labels: mergeable, Snippets

#168 Quick Visual Improvements
  src/components/CodePreview.tsx
  src/components/SnippetModal.tsx
  src/styles/main.css
Labels: enhancement

#219 [Snippet] [Fix] Added a bash snippet
  public/icons/bash.svg
  snippets/bash/system/kill-previous-instances.md
  snippets/bash/system/system-resource-monitor.md
Labels: Snippets

#220 math - remap function
  snippets/c/mathematical-functions/linear-mapping.md
  snippets/javascript/mathematical-functions/linear-mapping.md
  snippets/python/math-and-numbers/linear-mapping.md
Labels: Snippets

#216 added array manipulation snippets
  snippets/java/array-manipulation/remove-duplicates.md
Labels: Snippets

#217 Added code snippets of C++ on bit manipulation, math & number, searching, sorting
  snippets/c/bit-manipulation/check-power-of-two.md
  snippets/c/bit-manipulation/reverse-bits.md
  snippets/c/bit-manipulation/xor-of-range.md
  snippets/c/mathematical-functions/check-perfect-number.md
  snippets/c/mathematical-functions/compound-interest.md
  snippets/c/mathematical-functions/fibonacci-number.md
  snippets/c/mathematical-functions/sum-of-digits.md
  snippets/cpp/bit-manipulation/find-non-repeating-number.md
  snippets/cpp/debuging/vector-print.md
  snippets/cpp/math-and-numbers/binary-to-decimal-conversion.md
Labels: Snippets

#205 add snippet to compare two javascript arrays for equality
  snippets/javascript/array-manipulation/compare-arrays.md
Labels: Snippets

#198 Frameworks frontend implementation
  cspell-dict.txt
  snippets/javascript/[react]/basics/hello-world.md
  snippets/javascript/[react]/icon.svg
  snippets/python/[fastapi]/basics/hello-world.md
  snippets/python/[fastapi]/icon.svg
  src/components/LanguageSelector.tsx
  src/components/SnippetList.tsx
  src/components/SubLanguageSelector.tsx
  src/contexts/AppContext.tsx
  src/hooks/useCategories.ts
  src/hooks/useKeyboardNavigation.ts
  src/hooks/useSnippets.ts
  src/styles/main.css
  src/types/index.ts
  utils/consolidateSnippets.ts
  utils/snippetParser.ts
Labels: enhancement, mergeable

#159 Feature - Implement basic search functionality v2
  package-lock.json
  package.json
  src/AppRouter.tsx
  src/components/App.tsx
  src/components/CategoryList.tsx
  src/components/Container.tsx
  src/components/LanguageSelector.tsx
  src/components/SearchInput.tsx
  src/components/SnippetList.tsx
  src/components/SubLanguageSelector.tsx
  src/contexts/AppContext.tsx
  src/hooks/useCategories.ts
  src/hooks/useKeyboardNavigation.ts
  src/hooks/useSnippets.ts
  src/main.tsx
  src/styles/main.css
  src/types/index.ts
  src/utils/configureUserSelection.ts
  src/utils/consts.ts
  src/utils/enums.ts
  src/utils/languageUtils.ts
  tests/configureUserSelection.test.ts
  tests/languageUtils.test.ts
Labels: enhancement
